<% provide(:title, "Contact") %>
<h1>Contact Page</h1>
<p>Heya! this is the Contact page, you will get the contact info of the person to contact in the near future. Till now you can go back to home page to see other pages.</p>